<div class="page">
  <header>
    <div class="logo"></div>
    <div class="menu"></div>
  </header>
  <h1>{{ title }}</h1>
  <main class="main">
    <nav class="navigation">
      <a routerLink="/store">Store</a>
      <a routerLink="/cart">Cart</a>
    </nav>
    <router-outlet></router-outlet>
    <!--section class="cards">
      <div *ngFor="let card of cards">
        <Card [id]="card.id" [title]="card.title" [image]="card.source"></Card>
        <button (click)="onCardClick(card)">{{ card.title }}</button>
        <div *ngIf="card.id > 0" [class.border_selected]="card.id === 1">
          Id ({{ card.id }}) is currect
        </div>
      </div>
    </section-->
  </main>
  <footer></footer>
</div>
